{% if cats %}
    <ul class="nav nav-sidebar">
    {% for c in cats %}
        {% if c == act_cat %}<li class="active">{% else %}<li>{% endif %}
        <a href="{% url 'rango:category'  c.slug %}">{{ c.name }}</a></li>
    {% endfor %}

{% else %}
    <li> <strong >There are no category present.</strong></li>
    </ul>
{% endif %}
<ul class="nav nav-list">
    <li class="nav-header">Find a Category</li>
    <form method="get" action="">
        <label></label>
        <li>
            <input class="search-query span10" type="text" name="suggestion" value="" id="suggestion" />
        </li>
    </form>
</ul>
<div id="cats">
</div>
